#page{
  width: 71em;
  margin: 0 auto;
  max-width: 100%;
}

header{
  display: block;
  background: #eee;
}

ul{
  margin: 0; padding: 0;
}

li{
  margin-bottom: 0.5em;
  display: block;
  float: left;
  list-style-type: none;

  width: 15.493%;
  margin-right: 1.408%;
  text-decoration: none;
}

li a{
  display: block;
  color: white;
  background: red;
}

li:last-child{
  margin-right: 0;
}

p{
  display: block;
  float: left;
  width: 32.394%;
  margin-right: 1.408%;
}

p:last-child{margin-right: 0;}

@media screen and (max-width: 50em){
  li{
    width:  32.394%;
  }

  li:nth-child(3n){
    margin-right: 0;
  }

  p{
    width: 49.295%;
  }

  p:nth-child(2n){
    margin-right: 0;
  }
}


@media screen and  (max-width: 30em) {


 li {
    
    width: 49.296%;

 }

 li:nth-child(3n) {

  margin-right: 1.408%;
 }

 li:nth-child(2n) {
    
    margin-right: 0;

 }




 
 p {

   width: 100%;

 }


}