form {

    
	fieldset {

		margin-top: 20px;
		padding: 0;

		border:none;
		border-top: solid 2px $secondary-color;

	}

	legend {

		text-align: center;
		padding: 0 8px;
	}

	div {

		margin-bottom: 8px;
	}

	label {

		display: block;
	}

	input,select, textarea {

		display: block;
		width: 100%;
	}



	input[type=radio], input[type=checkbox] {

		display: inline-block;
		width: auto;

		&+label{display: inline;margin-right: 8px;}
	}


	.error {

		label{color: red;}
		input{border-color: red;}
	}


	span.error, span.hint {		
		
		float: right;
		border: solid 1px;
		width: 32%;
		padding: .5%;
		position: relative;

	}


	&:before, &:after {

    content: "";
    


	}
}